/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background: linear-gradient(45deg, coral, cornflowerblue);
}


.nav {
    max-width: 300px;
    padding: 1rem;
    color: blue;
    border-width: 8px;
    border-style: solid;
    border-image:
            linear-gradient(
                    to bottom,
                    blue,
                    rgba(0, 0, 0, 0)
            ) 1 100%;
}
.post {
    color: darkblue;
    text-align: center;
    font-style: italic;
    font-weight: 900;
    font-size: 25px;
}

.posts {
    position: relative;
    width: 1000px;
    height: 500px;
    margin: auto;
    border-radius: 30px;
    background: cornflowerblue;
    text-align: center;
}

.posts::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(35deg, orange, blue);
    border-radius: 30px;
    z-index: -1;
}

.button {
    display: flex;
    justify-content: center;
}

.new {
    margin-left: 50px;
    color: darkblue;

}
